<html lang="en">
<head>
    <link rel='stylesheet' href='/static/style.css'>
    <title>Simple Web Application</title>
</head>
<body>
    <h1>Welcome to the Web Application</h1>
    <form action="/submit" method="POST">
        <label for="Name">Mame:</label>
        <input type="text" id="Name" Name="Name" required><br><br>
        
        <label for="email">Email:</label>
        <input type="email" id="email" Name="email" required><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
